*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #dadada;
  font-size: 10px;
  width: 375px;
  margin: 0 auto;
}

h1 {
  font-size: 2em
}


.container {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family:inherit;

}

.emphasis {
  font size: 3em;
}

.previewbaku {
  margin: 2%;
  width: 96%;
  position: relative;
}

.previewlondon {
  margin: 2%;
  width: 96%;
  position: relative;
}

.previewmadrid {
  margin: 2%;
  width: 96%;
  position: relative;
}

.previewrome {
  margin: 2%;
  width: 96%;
  position: relative;
}


.text-block{
  position:absolute;
  top: 2%;
  left: 3%;
}
.pic {
  width: 100%
}

@media  screen and (min-width: 375px) {
  .previewbaku, .previewlondon, .previewmadrid, .previewrome {
    width: 100%;
  }
}

@media  screen and (min-width: 700px) {
  .previewbaku, .previewlondon, .previewmadrid, .previewrome {
    width: 45%;
    display: inline-block;
    font-size: 75%
  }
}



@media  screen and (min-width: 1000px) {
  .previewbaku, .previewlondon, .previewmadrid, .previewrome {
    width: 20%;
    display: inline-block;
    font-size: 45%
  }
